BuildRules*
.cache*

build/
bin/
obj/

compile_commands*
compile_flags*
*.raddbg
*.log
*river2Dconf
PowerShellEditorServices.json

measurements/
measurements/
Floppy144-current-modular-baseline.zip
Floppy144-game-source.zip
floppy144_*.bak
